/* Add this CSS to style your HTML structure */


.left-section {
    flex: 1;
    margin-right: 20px;
}

.right-section {
    flex: 2;
}

/* Profile Picture */
.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}



/* Additional Styling for Smaller Screens */
@media (max-width: 768px) {
    .main-body {
        flex-direction: column;
    }

    .left-section,
    .right-section {
        margin-right: 0;
    }

    .card {
        margin-bottom: 20px;
    }
}
