.form-control:focus {
    box-shadow: none;
    border-color: #FFC107;
}

.container{
    margin-left: 9%;
}

.profile-button {
    background: #FFC107;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #FFC107;
}

.profile-button:focus {
    background: #FFC107;
    box-shadow: none
}

.profile-button:active {
    background: #FFC107;
    box-shadow: none
}

.back:hover {
    color: #FFC107;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #FFC107;
    cursor: pointer;
    border: solid 1px #FFC107;
}