:root {
    --light-bg-color: rgba(255, 255, 255, 0.90);
    --dark-bg-color: #151515;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    font-family: "Montserrat", sans-serif !important;
}

header {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #333;
    padding: 8px 0;
}

.container-header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
}

.logo {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: flex;
}

.logo span {
    color: #FFC107;
    cursor: pointer;
}

.logo a:hover {
    color: #FFC107;
    cursor: pointer;
    text-decoration: none;
}


.act-link {
    font-size: 19px;
    font-weight: 500;
    color: white;
    background-color: #FFC107;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px 30px;
    transition: all 0.3s ease;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    font-size: 17px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FFC107;
    cursor: pointer;
}

li:hover {
    cursor: pointer;
}


/* DropDown start */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.h-dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .h-dropdown-content {
    display: block;
}

.h-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.h-dropdown-content a:hover {
    background-color: #FFC107;
}

.menu-bar {
    cursor: pointer;
}

/* DropDown end */

/* Themes start*/

.light-theme {
    background-color: #ffffff;
    color: #151515;
}

.dark-theme {
    background-color: #151515;
    color: #ffffff;
}

.light-text-color {
    color: #151515;
}

.dark-text-color {
    color: #ffffff !important;
}

.light-bgc-color {
    background-color: #151515;
}


.dark-bgc-color {
    background-color: #e5e7eb;
}

.lighter-theme {
    background-color: white;
    color: #131313;
}

.darker-theme {
    background-color: #131313;
    color: white;
}

/* Themes end */

/* Theme Icon start */

.theme-icon {
    cursor: pointer;
    margin-right: 20px;
}

/* Theme Icon end */