/* Footer styles */


footer {
    padding: '20 0 px';
    flex: 1;
    margin-top: auto;
    bottom: 0;
}

.container {
    margin-left: 50px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #f6d601;
}


.footer-content p {
    margin: 0;
    padding: 20px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.footer-content h3 {
    flex: 1;
}
